<!doctype html>
<html>
 <body style="font-family: 'Verdana';">
     <div  style="text-align: center; padding-bottom: 44px;">
         <h1>Visualização de Dados em Tempo Real</h1>
         <small>Desenvolvido com ❤️ por <a href="https://github.com/diasKayky">Kayky Santos<a/> </small>
     </div>
  <h2>Produtos por loja</h2>
  <div id='chart' class='chart'></div>
  <h2>Distribuição das notas das compras</h2>
  <div id='chart2' class='chart2'></div>
  <h2>Categorias por Loja</h2>
  <div id='chart3' class='chart3'></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
  var graph1 = {{graph1 | safe}};
  var graph2 = {{graph2 | safe}};
  var graph3 = {{graph3 | safe}};
  Plotly.plot('chart',graph1,{});
  Plotly.plot('chart2',graph2,{});
  Plotly.plot('chart3',graph3,{});
</script></html>
